html,
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f3f4f5;
  color: #242423;
  width: 100%;
}

header {
  height: 100vh;
  width: 70%;
  margin: auto;
  align-items: center;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-div {
  width: 100%;
}

.main-content {
  display: flex;
  width: 70%;
}

.logo-div {
  padding-right: 50px;
}

.logo-name-div {
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 65px;

  color: #242423;
  text-align: initial;
}

.logo-description-div {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 34px;
  width: 70%;

  color: #242423;
  text-align: initial;
}

.logo-text-div {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 34px;
  text-align: initial;
  width: 70%;

  color: #242423;
}

.logo-icon {
  width: 70%;
}

.icon-div1 {
  width: 80px;
}

.icon-div1:hover svg {
  fill: #fca311;
}

main {
  width: 100%;
  height: 100vh;
  display: flex !important;
}

.nav-main {
  width: 196px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #fca311;
  padding-top: 20px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-nav {
  padding-left: 10%;
  height: 10%;
  width: fit-content;
}

.nav-menu-item {
  font-size: 22px;
  cursor: pointer;
  padding-left: 10%;
  text-align: left;
}

.nav-menu-item:hover {
  background-color: white;
  color: #fca311;
  transition: all 0.2s ease;
}

.content-div {
  width: calc(100% - 196px);
  height: 1024px;
  left: 196px;
  top: 0px;
  position: relative;
}

.section-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 67px;
  line-height: 79px;
  color: #ffffff;
  padding-top: 5%;
}

.about-text {
  color: white !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  padding-top: 5%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.howto-text {
  color: white !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  padding-top: 5%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.section-div-1 {
  width: 100%;
  height: 100vh;
  /* Haight będzie obliczany względęm nagłówka */

  background: #242423 !important;
}

.section-div-2 {
  width: 100%;
  height: 100vh;
  /* Haight będzie obliczany względęm nagłówka */

  background: #333533;
}

.section-div-analysis {
  width: 100%;
  height: 300vh;
  /* Haight będzie obliczany względęm nagłówka */

  background: #333533;
}

.section-text-analysis {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 67px;
  line-height: 79px;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 10%;
}

.upload-div {
  padding: 150px;
}

.video-div {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.scrollup {
  width: 64px;
  height: 64px;
  color: #f5ab1b;
  text-decoration: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

/* UPLOAD */

.uploader label {
  background-color: #242423 !important;
}
.ul-even {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  height: 64px !important;
}
.ul-even a {
  font-size: 24px !important;
  color: white !important;
}

.ul-even li {
  background-color: #333533;
  width: 300px;
}
.tab:hover {
  background-color: #393636;
}

/* UPLOAD */

/* AUTHRS */
.authors-container {
  display: flex;
  width: 100%;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.authors {
  display: block;
  flex: auto;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  color: white !important;
}

.authors:hover {
  background-color: white !important;
  color: #242423 !important;
  cursor: default;
  transition: all 0.2s ease;
}

.authors-text {
  font-size: 30px !important;
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
}

.material-icons {
  background: none !important;
  font-size: 85px !important;
}

.row {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  height: 400px !important;
}

/* AUTHRS */
