[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
imageai = "*"
keras = "==2.2.5"
tensorflow-gpu = "==1.15.4"
django = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"
