{%extends "interface/base.html"%}
{% load static %}
{%block title%} Analysis {%endblock%} 
{%block content%}


<div class="parallax-container">
  <div class="parallax">
    <img class='parallax-img' src="{% static 'interface/img/manwithball.jpg' %}">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Elo byczq. Co tu robisz??????
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="{% static 'interface/img/manwithball.jpg' %}">
  </div>

  <script>
    $(document).ready(function(){
    $('.parallax').parallax();
    });

  </script>
  
{%endblock%}