{%extends "interface/base.html"%}
{% load static %}
{%block title%} Basketball projection analysis AI {%endblock%} 
{%block content%}

<header>

    <div class="main-content">
      <div class="logo-div">
        <img  src="{% static 'interface/img/logo1.png' %}">
      </div>
      <div class="logo-name-div">
        BASKETBALL <br/> PROJECTION<br/> ANALYSIS
      </div>
    </div>

    <div class="logo-description-div">
      Basketball projection analysis is an application <br/> that uses AI to analyze ball projections into the basket.
    </div>

    <div class="logo-text-div">
      Click the button and check it out!
    </div>

    <div class="logo-icon">
      <div class="icon-div1">
        <a href="#" id="link1"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve">
       <g>
         <g>
           <path d="M490.4,245.2C490.4,110,380.4,0,245.2,0S0,110,0,245.2s110,245.2,245.2,245.2S490.4,380.4,490.4,245.2z M24.5,245.2
             c0-121.7,99-220.7,220.7-220.7s220.7,99,220.7,220.7s-99,220.7-220.7,220.7S24.5,366.9,24.5,245.2z"/>
           <path d="M253.9,360.4l68.9-68.9c4.8-4.8,4.8-12.5,0-17.3s-12.5-4.8-17.3,0l-48,48V138.7c0-6.8-5.5-12.3-12.3-12.3
             s-12.3,5.5-12.3,12.3v183.4l-48-48c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l68.9,68.9c2.4,2.4,5.5,3.6,8.7,3.6
             S251.5,362.8,253.9,360.4z"/>
         </g>
       </g>
       </svg>
       </a>
      </div>
    </div>


</header>

<main>

  <nav id="instruction" class="nav-main">
    <a class="logo-nav" href="#"><img src="{% static 'interface/img/logo2.png' %}"></a>

<div class="nav-menu">

    <div class="nav-menu-item">
      About
    </div>

    <div class="nav-menu-item">
      How to
    </div>
    <div class="nav-menu-item">
      Upload
    </div>
    <div class="nav-menu-item">
      Analysis
    </div>
    <div class="nav-menu-item">
      Authors
    </div>
</div>


  </nav>

  <div class="content-div">

    <div class="section-text">
      ABOUT
    </div>

    <div class="section-div">

    </div>

  </div>


</main>


<!-- <div id="upload" class="section_one">
  <div class="row container" id="section-id">
    <br /> 
    <h2>UPLOAD</h2>
    <br />
    
    <form id="file-upload-form" class="uploader">
      <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

      <label for="file-upload" id="file-drag">
        <img id="file-image" src="#" alt="Preview" class="hidden">
        <div id="start">
          <div class="upload-text">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a file or drag here</div>
            <div id="notimage" class="hidden">Please select a video</div>
            
          </div>
        </div>
        <div id="response" class="hidden">
          <div id="messages"></div>
          <progress class="progress" id="file-progress" value="0">
            <span>0</span>%
          </progress>
        </div>
      </label>
    </form>
    <br /> <br /> <br />
    
  </div>
</div> -->

<!-- 
<div id="authors" class="section_two">
  <div class="row container" id="section-id">
    <br />
    <h2>AUTHORS</h2>
    <br />

    <div class="authors-container">

      <div class="authors">
        <div class="authors-text">
          <i class="material-icons">person</i>
        </div>
        <div class="authors-text">
          Anita Szumiec
        </div>
      </div>

      <div class="authors">
        <div class="authors-text">
          <i class="material-icons">person</i>
        </div>
        <div class="authors-text">
          Bartłomiej Madejski
        </div>
      </div>

      <div class="authors">
        <div class="authors-text">
          <i class="material-icons">person</i>
        </div>
        <div class="authors-text">
          Patryk Parkitny
        </div>
      </div>

    </div>
    

    <br /> <br /> 
  </div>

</div> -->
  <script>

    $(document).ready(function(){
    $('.modal').modal();
  });

  </script>
  <script src="{% static 'interface/js/jqscrollto.js' %}"></script>
{%endblock%}

